.LinkPageContainer{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 1.3vw;
    color: #2C2C2A;
    text-decoration: none;
}